@model XMLEdition.Data.Lesson;
@{
    ViewData["Title"] = "Edit lesson";
}

<style>
    .body {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

<partial name="/Views/Partial/Header.cshtml" />
<div class="body">
    <form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="Lesson">
        <label asp-for="Theme">Theme</label>
        <input asp-for="Theme" value="@ViewBag.Lesson.Theme" />
        <br />
        <label asp-for="Description">Description</label>
        <input asp-for="Description" value="@ViewBag.Lesson.Description" />
        <br />
        <label asp-for="VideoPath">Video</label>
        <input asp-for="VideoPath" type="file" value="@ViewBag.Lesson.VideoPath" />
        <br />
        <label asp-for="Body">Body</label>
        <textarea asp-for="Body" style="height: 250px" id="textarea">@ViewBag.Lesson.Body</textarea>
        <br />
        <input asp-for="CourseItemId" type="hidden" value="@ViewBag.Lesson.CourseItemId" />
        <input asp-for="Id" type="hidden" value="@ViewBag.Lesson.Id" />
        <input type="submit" value="Submit" />
        <br />
    </form>
</div>

<script src="https://cdn.tiny.cloud/1/gytqbbntp7aoav23in6bthycv22f05bcqjs55vxlznbbxtwz/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea' });

    var editor = tinymce.get('textarea');

    // Set the content of the editor
    editor.setContent('@Html.Raw(ViewBag.Lesson.Body)');
</script>
