@model XMLEdition.Data.Lesson;
@{
    ViewData["Title"] = "Lesson Page";
}

<style>
 
    .body {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #content {
        margin-top: 15px;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    body {
        min-width: 660px; /* Suppose you want minimum width of 1000px */
        width: auto !important; /* Firefox will set width as auto */
        width: 1000px; /* As IE6 ignores !important it will set width as 1000px; */
    }

    .grid-container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
    }

    .grid-item {

    }

    .grid-body-splitter{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
    }

    .two-parts{
        display: flex;
        margin-bottom: 5%;
    }

    .description{
        padding: 15px 5% 0;
    }

    .golden-text{
        color: #FFD700;
        font-size: 48px;
    }

    .description-lable {
        width: 30%;
        padding: 15px 5% 0;
    }

    .list {
        margin-top: 30px;
    }

    .video {
        margin-top: 35px;
    }

    .vl {
        border-left: 3px solid black;
        height: 100%;
    }

    .list-lable {
        font-family: Verdana;
        font-size: 28px;
    }

    .reviews-block {
        text-align: center;
    }

    .course-comments {
        margin-top: 20px;
    }

    .comment-creation {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .user-rating {
        display: flex;
        margin: auto;
        width: 50%;
    }

    .star-rating s:hover,
    .star-rating s.active {
        color: gold;
    }

    .star-rating-rtl s:hover,
    .star-rating-rtl s.active {
        color: gold;
    }

    .star-rating s,
    .star-rating-rtl s {
        color: black;
        font-size: 40px;
        cursor: default;
        text-decoration: none;
        line-height: 40px;
    }

    .star-rating {
        padding: 2px;
    }

    .star-rating-rtl {
        background: #555;
        display: inline-block;
        border: 1px solid #444;
    }

        .star-rating-rtl s {
            color: yellow;
        }

    .star-rating s:hover:before,
    .star-rating s.rated:before,
    .star-rating s.active:before {
        content: "\2605";
    }

    .star-rating s:before {
        content: "\2606";
    }

    .star-rating-rtl s:hover:after,
    .star-rating-rtl s.rated:after,
    .star-rating-rtl s.active:after {
        content: "\2605";
    }

    .star-rating-rtl s:after {
        content: "\2606";
    }
</style>

@{
    int id = ViewBag.Course.Id;
}

<partial name="/Views/Partial/Header.cshtml" />
<div class="body">
    <div class="grid-body-splitter">
        <div class="grid-item">
            <div id="discription">
                <h2 style="font: small-caps bold sans-serif;">Theme: @ViewBag.Lesson.Theme</h2>
            </div>

            <div id="video" class="video">
                <video controls width="100%" height="50%" loop>
                    <source src="@Url.Content("https://mystudystorage.blob.core.windows.net/test/" + ViewBag.Lesson.VideoPath)" type="video/mp4">
                </video>
            </div>

            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'tab1')">Description</button>
                <button class="tablinks" onclick="openTab(event, 'tab2')">Notes</button>
                <button class="tablinks" onclick="openTab(event, 'tab3')">Author</button>
                <button class="tablinks" onclick="openTab(event, 'tab4')">Reviews</button>
            </div>

            <div id="tab1" class="tabcontent">
                <div class="two-parts">
                    <div class="description-lable">
                        Discription:
                    </div>
                    <div class="description">
                        @ViewBag.Lesson.Description
                    </div>
                </div>
                <div class="two-parts">
                    <div class="description-lable">
                        Last editted date:
                    </div>
                    <div class="description">
                        @ViewBag.Lesson.DateCreation
                    </div>
                </div>
            </div>

            <div id="tab2" class="tabcontent">
                @Html.Raw(ViewBag.Lesson.Body)
            </div>

            <div id="tab3" class="tabcontent">
                <h3>Tab 3 content</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>

            <div id="tab4" class="tabcontent">
                <div class="reviews-block">
                    <h3 class="golden-text">Course rating: @ViewBag.Course.Rating</h3>
                    <div class="comment-creation">
                        <input type="text" class="form-control" placeholder="Give your review" id="userreview"/>
                        <div class="user-rating">
                            <div class="stars">                                
                                <div class="star-rating"><s><s><s><s><s></s></s></s></s></s></div>
                            </div>
                            <button class="btn btn-success" onclick="SendReview()" height="20%" >Send</button>
                        </div>
                    </div>
                    <div id="course-comments" class="course-comments">

                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="list-lable">
                Course content
            </div>
            <div id="list" class="list">
                @await Html.PartialAsync("../Partial/ItemsList", id)
            </div>
        </div>
    </div>    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function SendReview()
    {

    }

    $("div.star-rating > s, div.star-rating-rtl > s").on("click", function (e) {

        // remove all active classes first, needed if user clicks multiple times
        $(this).closest('div').find('.active').removeClass('active');

        $(e.target).parentsUntil("div").addClass('active'); // all elements up from the clicked one excluding self
        $(e.target).addClass('active');  // the element user has clicked on


        var numStars = $(e.target).parentsUntil("div").length + 1;
        alert(numStars);
    });

    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>