@model XMLEdition.Data.Lesson;
@{
    ViewData["Title"] = "Lesson Page";
}

<style>
    .body {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #content {
        margin-top: 15px;
    }
</style>

<partial name="/Views/Partial/Header.cshtml" />
<div class="body">
    <div id="discription">
        <h2 style="font: small-caps bold sans-serif;">Theme: @ViewBag.Lesson.Theme</h2>
        <h4 style="font: small-caps bold sans-serif;">Discription: @ViewBag.Lesson.Description</h4>
        <div style="color: #C0C0C0">
            @ViewBag.Lesson.DateCreation
        </div>
    </div>

    <div id="video">
        <video controls width="70%" height="480" loop>
            <source src="@Url.Content("https://mystudystorage.blob.core.windows.net/test/" + ViewBag.Lesson.VideoPath)" type="video/mp4">
        </video>
    </div>

    <div id="content" style="width: 70%">
        @Html.Raw(ViewBag.Lesson.Body)
    </div>
</div>