@model XMLEdition.Data.Product;
@{
    ViewData["Title"] = "Edit Page";
}

<style>
    body {
        margin-right: 40px;
        margin-left: 40px;
    }
</style>

<h1>Редагування продукту</h1>
<form asp-controller="Home" asp-action="EditProduct">
    <p>
        <input id="Id" type="hidden" asp-for="Id" value="@ViewBag.Product.Id" />
    </p>
    <p>
        <label asp-for="Name">Імя</label><br />
        <input id="Name" type="text" asp-for="Name" value="@ViewBag.Product.Name" />
    </p>
    <p>
        <label asp-for="Price">Ціна</label><br />
        <input id="Price" type="number" asp-for="Price" value="@ViewBag.Product.Price" />
    </p>
    <p>
        <label asp-for="Vendor">Марка</label><br />
        <input id="Vendor" type="text" asp-for="Vendor" value="@ViewBag.Product.Vendor" />
    </p>
    <p>
        <label asp-for="Storage">Склад</label><br />
        <input id="Storage" type="text" asp-for="Storage" value="@ViewBag.Product.Storage" />
    </p>
    <p>
        <label asp-for="Count">Кількість</label><br />
        <input id="Count" type="number" asp-for="Count" value="@ViewBag.Product.Count" />
    </p>
    <p>
        <input type="submit" class="btn btn-success" value="Edit" />
    </p>
</form>