@model XMLEdition.Data.Product;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .body{
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

<partial name="/Views/Partial/Header.cshtml" />

<div class="body">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Імя</th>
                <th scope="col">Ціна</th>
                <th scope="col">Марка</th>
                <th scope="col">Склад</th>
                <th scope="col">Кількість, шт.</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (XMLEdition.Data.Product p in ViewBag.Products)
                {
                    <tr>
                        <th scope="row">@p.Id</th>
                        <td>@p.Name</td>
                        <td>@p.Price</td>
                        <td>@p.Vendor</td>
                        <td>@p.Storage</td>
                        <td>@p.Count</td>
                        <td><a href="/Home/Edit/@p.Id" class="btn btn-warning">Edit</a></td>
                        <td><a href="/Home/DeleteProduct/@p.Id" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>